@model SysGymT.EntidadesDeNegocio.Rol

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/machines/create.css">

<div class="row main-div text-center">
    <h3>Se eliminara el siguiente registro:</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Rol" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-warning ml-2">Cancelar</a>
    </form>
</div>
