@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Sobre <a target="_blank" href="https://www.instagram.com/omarxdelproo1/">Nosotros</a>...</p>
</div>
