@model SysGymT.EntidadesDeNegocio.Service

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/machines/create.css"> <!-- Utiliza el mismo CSS que el formulario de creación -->

<div class="row">
    <div class="col-md-4 offset-md-4 main-div text-center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Service" />
            <div class="form-group">
                <label asp-for="Name_Service" class="control-label"></label>
                <input asp-for="Name_Service" class="form-control" />
                <span asp-validation-for="Name_Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descryption" class="control-label"></label>
                <input asp-for="Descryption" class="form-control" />
                <span asp-validation-for="Descryption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-danger ml-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>


